.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-heading {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-para {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 2rem;
}

.contact {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contactRight {
    width: 40%;
    padding: 2rem;
}

.contactLeft {
    width: 40%;
    padding: 2rem;
}

@media(max-width: 1000px) {
    .contactRight {
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
    }
    .contactLeft {
        width: 100%;
    }
}

.contactLeft input, textarea{
    width: 100%;
}

.contactLeft button {
    width: 100%;
    margin-top: 2rem;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background-color: #fff;
    color: rgb(78, 75, 75);
    border-radius: 10px;
    cursor: pointer;
}

.contactLeft button:hover {
    box-shadow: 1px 1px 10px 0.5px gray;
}

.footer {
    margin-top: 3rem;
    padding: 3rem;
    border-top: 1px solid rgb(85, 85, 85);
    background-color: #ffffff14;
}

