.nav-container {
    box-shadow: 1px 1px 15px 1px rgb(170, 147, 174);
    background-color: rgb(21, 21, 21);
    position: fixed;
    z-index: 5;
    width: 100%;
    margin-top: 0px;
}

.navbar-links{
    display: flex;
    gap: 2rem;
}

@media(max-width: 767px) {
    .navbar-links {
        display: none;
    }
}

.navbar-links Link:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-img {
    overflow: hidden;
}

.home-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: myAnimation 4s ease-in-out alternate infinite;
    animation-fill-mode: both;
}

@media(max-width: 1400px) {
    .home-img img{
    height: 100vh;
}
}

@keyframes myAnimation {
    from {transform: scale(1);}
    to {transform: scale(1.08)}
}

.home-container {
    position: absolute;
    top: 70px;
    height: 100vh;
    padding: 0 5px 0 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
};

.home-text {
    width: 100%;
    padding: 0.1rem;
}

@media(min-width: 980px) {
    .home-text {
        padding: 1rem;
        width: 50%;
    }
}

.home-button button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-button button {
    padding: 0.7rem 0.9rem 0.7rem 0.9rem;
    border-radius: 10px;
    background-color: #fff;
    transition: 500ms;
    color: #2d2d2e;
}

.home-button button:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 10px .5px rgb(156, 174, 246);
}

.home-socialMedia a:hover {
    padding: 1px;
    border-radius: 1rem;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px 0.5px rgb(213, 213, 247);
}

.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

.skill-container div{
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 2rem;
    width: 40%;
    transition: 1s;
    background-color: #ffffff14;
}

@media(max-width: 999px) {
    .skill-container div {
        width: 100%;
    }
}

.skill-container div:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 15px 0.5px rgb(98, 98, 235);
}

.slidbar-container h1{
    display: flex;
    justify-content: space-between;
}

.skill-range {
    appearance: none;
    outline: none;
    background: linear-gradient(to right, #7670f0 40%, #72419f 80%, #353436 80%, #2d2d2e 100%);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 13px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 13px;
    border-radius: 1rem;
    background-color: #72419f;
}

.skill-range4 {
    appearance: none;
    outline: none;
    background: linear-gradient(to right, #7670f0 40%, #8340c2 70%, #353436 70%, #2d2d2e 100%);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 13px;
}