.project-main {
    display: flex;
    justify-content: flex-end;
}

.projects-container {
    padding: 3rem;
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.projects-container div{
    padding: 2rem;
    width: 40%;
    border: 1px solid geay;
    border-radius: 1rem;
    background-color: #ffffff14;
    transition: 400ms;
}

@media(max-width: 1200px) {
    .projects-container div{
        width: 100%;
    }
    .project-main {
        justify-content: center;
    }
}

@media(max-width: 500px) {
   .projects-container div {
    padding: .5rem;
    width: 100%;
   }
   .projects-container {
    padding: 10px;
    width: 100%;
   }
}

.projects-container div:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 15px .5px rgb(117, 117, 194);
}

.projectTop-buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.projectTop-buttons button{
    padding: 8px;
    border: 1px solid gray;
    border-radius: 2rem;
}

.projectTop-buttons button:hover {
    border:1px solid blue;
    box-shadow: 1px 1px 15px .5px rgb(132, 132, 222);
    transform: scale(1.01);
}

.projectBottom-buttons {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.projectBottom-buttons button {
    padding: 12px;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: white;
    transition: 300ms;
}

.projectBottom-buttons button:hover {
    box-shadow: 1px 1px 15px .5px rgb(174, 174, 229);
    transform: scale(1.01);
    cursor: pointer;
}