.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

.skill-container div{
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 2rem;
    width: 40%;
    transition: 1s;
    background-color: #ffffff14;
}

@media(max-width: 999px) {
    .skill-container div {
        width: 100%;
    }
}

.skill-container div:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 15px 0.5px rgb(98, 98, 235);
}

.slidbar-container h1{
    display: flex;
    justify-content: space-between;
}

.skill-range {
    appearance: none;
    outline: none;
    background: linear-gradient(to right, #7670f0 40%, #72419f 80%, #353436 80%, #2d2d2e 100%);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 13px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 13px;
    border-radius: 1rem;
    background-color: #72419f;
}

.skill-range4 {
    appearance: none;
    outline: none;
    background: linear-gradient(to right, #7670f0 40%, #8340c2 70%, #353436 70%, #2d2d2e 100%);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 13px;
}