.skill-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 2rem;
}

.skill-container div{
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 2rem;
    width: 40%;
    transition: 1s;
    background-color: #ffffff14;
}

@media(max-width: 999px) {
    .skill-container div {
        width: 100%;
    }
}

.skill-container div:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 15px 0.5px rgb(98, 98, 235);
}

.slidbar-container h1{
    display: flex;
    justify-content: space-between;
}

.skill-range {
    appearance: none;
    outline: none;
    background: linear-gradient(to right, #7670f0 40%, #72419f 80%, #353436 80%, #2d2d2e 100%);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 13px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 13px;
    border-radius: 1rem;
    background-color: #72419f;
}

.skill-range4 {
    appearance: none;
    outline: none;
    background: linear-gradient(to right, #7670f0 40%, #8340c2 70%, #353436 70%, #2d2d2e 100%);
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 13px;
}

.skill-range-wrapper {
  width: 100%;
  margin-top: 15px;
}

.skill-range-wrapper .rc-slider {
  position: relative !important;
  width: 100% !important;
  height: 16px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.skill-range-wrapper .rc-slider-rail,
.skill-range-wrapper .rc-slider-track {
  position: absolute !important;
  height: 16px !important;
  top: 0 !important;
  bottom: auto !important;
  border-radius: 10px !important;
}

.skill-range-wrapper .rc-slider-rail {
  background: #333 !important;
}

.skill-range-wrapper .rc-slider-track {
  background: linear-gradient(
    90deg,
    #7167ee,
    #8a42b8
  ) !important;
}

.skill-range-wrapper .rc-slider-handle {
  display: none !important;
}